:root {
    --primary-dark: #0d1b2a;
    --primary-light: #778da9;
    --text: #e0e1dd;
    --button: rgb(87, 131, 219, 0.7);
    --button-hover: rgb(87, 131, 219, 1);
    --button-text: rgb(206, 209, 214);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: roboto, sans-serif;
}

.header {
    position: fixed;
    background-color: var(--primary-dark);
    left: 0;
    right: 0;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.material-symbols-outlined {
    color: var(--text);
}

.top-fixed-nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 10px;
}

.top-fixed-nav ul > li {
    padding: 10px;
    color: var(--text);
}

.banner {
    display: flex;
    justify-content: center;
}

.banner-bg {
    width: 85vw;
    height: 100vh;
    background-image: linear-gradient(
            180deg,
            rgba(13, 27, 42, 1) 50%,
            rgba(13, 27, 42, 0.7) 100%,
            rgba(13, 27, 42, 0) 100%
        ),
        url("images/banner.jpg");
    background-size: cover;
    color: var(--text);
}

.banner-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}

.banner-intro button {
    background-color: var(--button);
    font-weight: bold;
    color: var(--button-text);
    cursor: pointer;
    border: none;
    border-radius: 18px;
    margin-top: 15px;
    padding: 10px 15px;
}

.banner-intro button:hover {
    background-color: var(--button-hover);
    transition: 0.7s;
}

.posts {
    width: 80vw;
    margin: 0 auto;
    padding: 20px;
}

.posts-wrapper {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.post-card {
    width: 100%;
    padding: 20px;
}

.post-thumbnail img {
    width: 100%;
    height: 40vh;
}

.post-title {
    margin-top: 20px;
}

.post-meta {
    padding: 10px;
}

.post-body {
    margin-top: 10px;
    text-align: justify;
}

.popular-posts, h2{
    width: 80vw;
    margin: 0 auto;
    padding-left: 30px;
}

.popular-posts-wrapper {
    display: flex;
    flex-direction: row;
    
}

.popular-post-card {
    width: 20vw;
    margin-top: 20px;
    padding-left: 40px;
}

.popular-post-card img {
    width: 100%;
    height: 30vh;
}

.popular-post-title {
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}