:root {
    --primary-dark: #0d1b2a;
    --primary-light: #778da9;
    --text: #e0e1dd;
    --button: rgb(87, 131, 219, 0.7);
    --button-hover: rgb(87, 131, 219, 1);
    --button-text: rgb(206, 209, 214);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: roboto, sans-serif;
}

.header {
    position: fixed;
    background-color: var(--primary-dark);
    left: 0;
    right: 0;
    z-index: 100;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}

.material-symbols-outlined {
    color: var(--text);
}

.top-fixed-nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 10px;
}

.top-fixed-nav ul > li {
    padding: 10px;
}

.top-fixed-nav ul > li:hover {
    background-color: var(--button-hover);
    color: var(--button-text);
    border-radius: 7px;
    transition: 0.7s;
}

.top-fixed-nav a {
    text-decoration: none;
    color: var(--text);
    cursor: pointer;
}

.search-bar {
    display: flex;
}

.search-bar .search-icon {
    cursor: pointer;
    transform: translateX(100%);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55),
        background-color 0;
}

.search-bar:hover .search-icon {
    background-color: white;
    border-radius: 5px;
    color: var(--primary-dark);    
    transform: translateX(100%);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-bar input {
    border: none;
    border-radius: 5px;
    padding: 6px;
    outline: none;
    display: none;
}

.search-bar:hover input {
    display: inline-block;  
    transform: translateX(22%);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.mobile-menu-icon {
    position: absolute;
    visibility: hidden;
}

.mobile-menu-list {
    position: absolute;
    visibility: hidden;
}

.banner {
    display: flex;
    justify-content: center;
}

.banner-bg {
    width: 75vw;
    height: 100vh;
    background-image: linear-gradient(
            180deg,
            rgba(13, 27, 42, 1) 50%,
            rgba(13, 27, 42, 0.7) 100%,
            rgba(13, 27, 42, 0) 100%
        ),
        url("images/banner.jpg");
    background-size: cover;
    color: var(--text);
}

.banner-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}

.banner-intro button {
    background-color: var(--button);
    font-weight: bold;
    color: var(--button-text);
    cursor: pointer;
    border: none;
    border-radius: 18px;
    margin-top: 15px;
    padding: 10px 15px;
}

.banner-intro button:hover {
    background-color: var(--button-hover);
    transition: 0.7s;
}

.wrapper {
    width: 65vw;
    margin: 0 auto;
    padding: 10px;
}

.posts {
    margin-top: 20px;
}

.post-card {
    width: 100%;
    padding: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 12px;
    cursor: pointer;
}

.post-thumbnail img {
    width: 100%;
    height: 40vh;
}

.post-title {
    font-size: 16pt;
    margin-top: 20px;
}

.post-meta {
    display: inline-block;
    background-color: var(--primary-dark);
    color: var(--text);
    font-size: 10pt;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 6px 10px;
}

.post-body {
    position: relative;
    margin-top: 10px;
    text-align: justify;
    height: 100px;
    overflow: hidden;
}

.post-body::after {
    position: absolute;
    bottom: 0;
    content: "";
    height: 50px;
    width: 100%;
    background: white;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 48%,
        rgba(255, 255, 255, 0.7) 77%,
        rgba(236, 252, 255, 0) 100%
    );
}

.post-body .btn-readmore {
    position: absolute;
    bottom: 0;
    z-index: 99;
    left: 0;
    right: 0;
    text-align: center;
}

.post-body .btn-readmore button {
    width: 92px;
    height: 30px;
    color: var(--button-text);
    background-color: var(--primary-light);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.post-body .btn-readmore button:hover {
    background-color: var(--primary-dark);
    transition: 0.7s;
}

.popular-posts-card {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.popular-post-card {
    width: 20vw;
    margin: 15px 7px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
}

.popular-post-card img {
    width: 100%;
    height: 30vh;
}

.popular-post-title {
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.contact {
    padding: 20px;
}

.contact .wrapper {
    border: 2px solid;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.contact form {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.contact form input[type="text"],
.contact form textarea {
    padding: 9px;
    margin: 5px 5px;
    font-family: roboto, sans-serif;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    border: none;
    resize: none;
}

.contact form button {
    width: 120px;
    height: 30px;
    background-color: var(--button);
    margin: 10px 6px;
    color: var(--button-text);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.contact form button:hover {
    background-color: var(--button-hover);
    transition: 0.7s;
}

.footer {
    width: 100%;
    height: auto;
    background-color: var(--primary-dark);
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--text);
}

.footer-container .copyright-info {
    align-self: center;
}

.footer-container .copyright-info p {
    margin-top: 10px;
}

.footer-container .quick-links {
    margin-top: 20px;
}

.footer-container .quick-links ul {
    list-style-type: none;
    margin-top: 20px;
}

.footer-container .social-widgets {
    width: 220px;
    margin-top: 20px;
}

.footer-container .social-icons {
    display: flex;
    background-color: var(--text);
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    justify-content: center;
}

.footer-container .social-widgets .social-icons img {
    width: 40px;
    padding: 5px;
    cursor: pointer;
}

.footer-container .social-widgets p {
    margin-top: 20px;
}

@media (max-width: 600px) {
    .top-fixed-nav,
    .search-bar {
        display: none;
    }

    .header-wrapper {
        justify-content: space-between;
        padding: 0 20px;
    }

    .mobile-menu-icon {
        position: absolute;
        visibility: visible;
        cursor: pointer;
        right: 10px;
    }

    .mobile-menu-list {
        visibility: hidden;
        position: absolute;
        background-image: linear-gradient(
                180deg,
                rgba(13, 27, 42, 1) 50%,
                rgba(13, 27, 42, 0.7) 100%,
                rgba(13, 27, 42, 0) 100%
            ),
            url("images/banner.jpg");
        background-size: cover;
        color: var(--text);
        top: 50px;
        left: 0;
        right: 0;
        height: 100vh;
    }

    .mobile-menu-list ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        justify-content: center;
        align-items: center;
        margin-top: 40%;
        font-weight: bold;
        font-size: 14pt;
    }

    .mobile-menu-list ul > li {
        padding: 10px;
    }

    .mobile-menu-list a {
        text-decoration: none;
        color: var(--text);
        cursor: pointer;
    }

    .banner-bg {
        width: 100vw;
    }

    .wrapper {
        width: 85vw;
    }

    .popular-posts-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .popular-post-card {
        width: 75vw;
        height: auto;
    }

    .popular-post-card img {
        width: 100%;
        height: 35vh;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-container .copyright-info,
    .footer-container .quick-links ul,
    .footer-container .social-widgets {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-container .quick-links {
        margin-top: 40px;
    }

    .footer-container .quick-links ul {
        list-style-type: none;
        margin-top: 20px;
    }

    .footer-container .social-widgets {
        width: 220px;
        margin-top: 40px;
    }

    .footer-container .social-icons {
        display: flex;
        background-color: var(--text);
        padding: 5px;
        margin-top: 10px;
        border-radius: 10px;
        justify-content: center;
    }

    .footer-container .social-widgets .social-icons img {
        width: 40px;
        padding: 5px;
    }

    .footer-container .social-widgets p {
        margin-top: 20px;
        text-align: center;
    }
}
